# Student Data
THis notebook analyses pass/fail data for a class

In [8]:
import requests, numpy as np, pandas as pd, wget

In [11]:
wget.download('https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv')

'grades.csv'

In [12]:
df_students = pd.read_csv('grades.csv',delimiter=',',header='infer')
df_students.head()

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [14]:
df_students.isnull().sum()

Name          0
StudyHours    1
Grade         2
dtype: int64